h2 /*{color: #92B901;}*/
body #header{
/*color: #ff6187;*/}
body{/*color: #707070;*/}
ul.circle{
  list-style-type:circle;
}
p.address{
  margin-left: 20px;
}
#content{
  font-family: Verdana, Geneva, sans-serif;
  /*font-family: "Lucida Console", Monaco, monospace*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
#menu{
  width: auto;
  float: right;
  margin: 10px;
  height: auto;
}
#me1{
  width: 100%;
  height: 100%;
}
#container{
  margin: 20px;
}

.flex {
    display: -ms-flexbox;
    display: flex;
    margin-left: -0.6em;
    width: calc(100% + .6em);
    flex-wrap: wrap;
    transition: all .3s ease
}

.flex > * {
    box-sizing: border-box;
    flex: 1 1 auto;
    padding-left: .6em;
    padding-bottom: .6em
}

.flex[class * ="one"] > * , .flex[class * ="two"] > * , .flex[class * ="three"] > * ,
.flex[class * ="four"] > * , .flex[class * ="five"] > * , .flex[class * ="six"] > * ,
.flex[class * ="seven"] > * , .flex[class * ="eight"] > * , .flex[class * ="nine"] > * ,
.flex[class * ="ten"] > * , .flex[class * ="eleven"] > * , .flex[class * ="twelve"] > * {
    flex-grow: 0
}

.flex.grow > * {
    flex-grow: 1
}

.card, .modal .overlay ~ * {
    position: relative;
    box-shadow: 0;
    border-radius: .2em;
    border: 1px solid #ccc;
    overflow: hidden;
    text-align: left;
    background: #fff;
    margin-bottom: .6em;
    padding: 0;
    transition: all .3s ease
}

.hidden.card, .modal .overlay ~ .hidden, :checked + .card, .modal .overlay ~ :checked + * ,
.modal .overlay:checked + * {
    font-size: 0;
    padding: 0;
    margin: 0;
    border: 0
}

.card > * , .modal .overlay ~ * > * {
    max-width: 100%;
    display: block
}

.card > * :last-child, .modal .overlay ~ * > * :last-child {
    margin-bottom: 0
}

.card header, .modal .overlay ~ * header, .card section, .modal .overlay ~ * section,
.card > p, .modal .overlay ~ * > p {
    padding: .6em .8em
}

.card section, .modal .overlay ~ * section {
    padding: .6em .8em 0
}

.card hr, .modal .overlay ~ * hr {
    border: none;
    height: 1px;
    background-color: #eee
}

.card header, .modal .overlay ~ * header {
    font-weight: bold;
    position: relative;
    border-bottom: 1px solid #eee
}

.card header h1, .modal .overlay ~ * header h1, .card header h2, .modal .overlay ~ * header h2,
.card header h3, .modal .overlay ~ * header h3, .card header h4, .modal .overlay ~ * header h4,
.card header h5, .modal .overlay ~ * header h5, .card header h6, .modal .overlay ~ * header h6 {
    padding: 0;
    margin: 0 2em 0 0;
    line-height: 1;
    display: inline-block;
    vertical-align: text-bottom
}

.card header:last-child, .modal .overlay ~ * header:last-child {
    border-bottom: 0
}

.card footer, .modal .overlay ~ * footer {
    padding: .8em
}

.card p, .modal .overlay ~ * p {
    margin: .3em 0
}

.card p:first-child, .modal .overlay ~ * p:first-child {
    margin-top: 0
}

.card p:last-child, .modal .overlay ~ * p:last-child {
    margin-bottom: 0
}

.card > p, .modal .overlay ~ * > p {
    margin: 0;
    padding-right: 2.5em
}

.card .close, .modal .overlay ~ * .close {
    position: absolute;
    top: .4em;
    right: .3em;
    font-size: 1.2em;
    padding: 0 .5em;
    cursor: pointer;
    width: auto
}

.card .close:hover, .modal .overlay ~ * .close:hover {
    color: #ff4136
}

.card h1 + .close, .modal .overlay ~ * h1 + .close {
    margin: .2em
}

.card h2 + .close, .modal .overlay ~ * h2 + .close {
    margin: .1em
}

.card .dangerous, .modal .overlay ~ * .dangerous {
    background: #ff4136;
    float: right
}